body {
    background-color: dodgerblue;
    font-family: arial;
}

form {
    text-align: center;
    line-height: 25px;
    overflow: auto;
    height: 75%;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

#mainbox {
    width: 80%;
    margin: 3% auto;
    height: 95vh;
    background-color: lightblue;
    border-radius: 50px;
}

form hr {
    width: 300px;
}

label {
    color: black;
    text-shadow: 2px 2px 3px white;
}

